{% extends "base.html" %}
{% load sekizai_tags %}


{% block content %}
    {% addtoblock "js" %}
        <script type="text/javascript">
            var base_url = "/api/cards/";

            function load_cards(url, page) {
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function(json) {
                        console.log(json);
                        $("#table-cards").empty();
                        $(".paginator > span").empty();

                        for (var i = 0; i < json.results.length; i++) {
                          $("#table-cards").append(
                            '<tr>'+
                              '<td><a href="">' + json.results[i].name +'</a></td>' +
                              '<td>' + json.results[i].description + '</td>' +
                              '<td>' + json.results[i].dishes_count + '</td>' +
                            '</tr>'
                          );
                        }
                        $("#table-cards").prepend(
                          '<tr>' +
                            '<th>' +
                              'Nazwa' +
                              '<span class="pull-right">' +
                                '<a onclick="load_cards(\'' + base_url + '?ordering=name' +'\', ' + 1 + ')">' +
                                  '<i class="fa fa-caret-down" aria-hidden="true"></i>' +
                                '</a>' +
                                ' <a onclick="load_cards(\'' + base_url + '?ordering=-name' + '\', ' + 1 + ')">' +
                                  '<i class="fa fa-caret-up" aria-hidden="true"></i>' +
                                '</a>' +
                              '</span>' +
                              '<span class="pull-right"></span>' +
                            '</th>' +
                            '<th>Opis</th>' +
                            '<th>' +
                              'Ilość dań w karcie' +
                              '<span class="pull-right">' +
                                '<a onclick="load_cards(\'' + base_url + '?ordering=dishes_count' + '\', ' + 1 + ')">' +
                                  '<i class="fa fa-caret-down" aria-hidden="true"></i>' +
                                '</a>' +
                                ' <a onclick="load_cards(\'' + base_url + '?ordering=-dishes_count' + '\', ' + 1 + ')">' +
                                  '<i class="fa fa-caret-up" aria-hidden="true"></i>' +
                                '</a>' +
                              '</span>' +
                            '</th>' +
                          '</tr>'
                        );
                        if(json.previous != null) {
                          $(".paginator > span").prepend(
                            '<a onclick="load_cards(\'' + json.previous + '\', ' + (page-1) + ')">poprzednia</a> '
                          );
                        }
                        $(".paginator > span").append(
                          '<span class="current">' +
                            'Strona ' + page + ' z ' + Math.ceil(json.count / 3) + '.' +
                          '</span>'
                        );
                        if(json.next != null) {
                          $(".paginator > span").append(
                            ' <a onclick="load_cards(\'' + json.next + '\', ' + (page+1) +')">następna</a>'
                          );
                        }
                    },
                    error : function(xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                })
            }

            load_cards(base_url, 1);
        </script>
    {% endaddtoblock %}

    <div class="table-responsive">
        <div class="paginator pull-right">
            <span></span>
        </div>

        <table id="table-cards" class="table table-hover">
            <tr>
                <th>
                    Nazwa <span class="pull-right"></span>
                </th>
                <th>Opis</th>
                <th>
                    Ilość dań w karcie
                    <span class="pull-right"></span>
                </th>
            </tr>
        </table>

        <div class="paginator pull-right">
            <span></span>
        </div>
    </div>
{% endblock %}
