{% load sekizai_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width , initial-scale=1">

    <title>eMenu</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% render_block "css" %}

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h1><a href="{% url 'index' %}">eMenu</a></h1>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="page-content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>&copy; eMenu</p>
                </div>
            </div>
        </div>
    </footer>

    {% render_block "js" %}
</body>
</html>
