{% extends "base.html" %}


{% block content %}
    <h2>Karta: {{ card.name }}</h2>
    <h4>Dostępne dania:</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Cena</th>
                <th>Czas przygotowania</th>
                <th>Utworzono</th>
                <th>Aktualizacja</th>
                <th>Danie wegetariańskie</th>
                <th>Zdjęcie</th>
            </tr>
            {% for dish in dishes %}
                <tr>
                    <td>{{ dish.name }}</td>
                    <td>{{ dish.description }}</td>
                    <td>{{ dish.price }}</td>
                    <td>{{ dish.preparation_time }} (minuty)</td>
                    <td>{{ dish.created }}</td>
                    <td>{{ dish.updated }}</td>
                    <td>{% if dish.is_vegetarian %}Tak{% else %}Nie{% endif %}</td>
                    <td>
                        {% if dish.picture %}
                            <a href="{{ dish.picture.url }}"><img src="{{ dish.picture.url }}" style="height: 30px;" /></a></td>
                        {% else %}
                            ---
                        {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
