{% extends "base.html" %}


{% block content %}
    <div class="table-responsive">
        {% include 'includes/pagination.html' %}
        <table class="table table-hover">
            <tr>
                <th>
                    Nazwa
                    <span class="pull-right">
                        <a href="?{% if request.GET.page %}page={{ request.GET.page }}&{% endif %}sort_by=name">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <a href="?{% if request.GET.page %}page={{ request.GET.page }}&{% endif %}sort_by=-name">
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </a>
                    </span>
                </th>
                <th>Opis</th>
                <th>
                    Ilość dań w karcie
                    <span class="pull-right">
                        <a href="?{% if request.GET.page %}page={{ request.GET.page }}&{% endif %}sort_by=dishes_count">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <a href="?{% if request.GET.page %}page={{ request.GET.page }}&{% endif %}sort_by=-dishes_count">
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </a>
                    </span>
                </th>
            </tr>
            {% for card in cards %}
                <tr>
                    <td><a href="{% url 'details' card.pk %}">{{ card.name }}</a></td>
                    <td>{{ card.description }}</td>
                    <td>{{ card.dishes_count }}</td>
                </tr>
            {% endfor %}
        </table>
        {% include 'includes/pagination.html' %}
    </div>
{% endblock %}
